form{
    width: auto;
    background-color: beige;
    padding: 20px;
}
fieldset{
    padding: 20px;
}
input{
    width: 50px;
    margin-right: 10px;
    text-align: center;
}
button{
    margin-top: 20px;
    
}
td{
    width: 200px;
}